<h1>Enter Your Poem</h1>

<%= simple_form_for @poem do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :author %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-danger' %>
<% end %>